.cards {
    width: 100%;
    height: auto;
}

.card {
    margin: 6%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    width: 15rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    float: left;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.avatar-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 8rem;
    max-width: fit-content;
}

.skill {
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.conn-card {
    font-size: 20px;
    margin: 1rem;
}