body{
    background-color: #f7f7ff;
}
a,a:hover,a:visited,a:active,a:focus{
    text-decoration: none;
    color: inherit;
}
.btn-white {
    background-color: #fff;
    border-color: #e7eaf3;
}
.radius-15 {
    border-radius: 15px;
}
.contacts-social a {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #ffffff;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 50%;
    color: #2b2a2a;
}
.bg-info {
    background-color: #0dcaf0!important;
}
.bg-primary {
    background-color: #008cff!important;
}
.bg-danger {
    background-color: #fd3550!important;
}
.bg-warning {
    background-color: #ffc107!important;
}

h2 {
    align-items: center;
    text-align: center;
    margin: 2rem;
    margin-bottom: 3rem;
}

ul li {
    list-style-type: none;
}

li {
    margin-right: 0rem;
}